/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* normalize css ends here */

.popup {
    width: 1200px;
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    /* Added overflow property to handle content overflow */
}

.container {
    display: flex;
}

.navbar {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 5px;
}

.nav-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #45a049;
}

.collapse {
    display: none;
    padding-left: 20px;
    /* Added padding to indent child items */
}

.submenu {
    padding-left: 20px;
    /* Adjusted padding for submenu items */
}

.section {
    padding: 20px;
    margin-left: 20px;
    /* Add left margin for content sections */
}

#generate-uuid {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#generate-uuid:hover {
    background-color: #2980b9;
}

#generated-uuid {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Add the following styles for the Code Execution section */
#code-execution textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#run-code,
#save-code {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#run-code:hover,
#save-code:hover {
    background-color: #2980b9;
}

#stored-codes-list {
    list-style: none;
    padding: 0;
}

#stored-codes-list li {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#stored-codes-list li:hover {
    background-color: #ddd;
}